@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr .25fr 3fr 3fr;
}

.header {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    box-shadow: 1px 1px 1px 2px black;
    position: relative;
    z-index: 10;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.headerTop,
.headerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.htLeft,
.htRight,
.hbLeft,
.hbRight {
    display: flex;
    gap: 1rem;
}

.contentBtns {
    display: flex;
    gap: .5rem
}

.contentBtns>* {
    background-color: #1c94d3;
    color: white;
    border: none;
    padding: .5rem 1.5rem;

    border-radius: 20px;
}

.htLeft,
.hbLeft {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.username {
    align-self: center;
    font-weight: bold;
}

.greeting>div {
    font-weight: bold;
}

.hbRight,
.htRight {
    margin-right: 2rem;
    ;
}

.htLeft>img {
    width: 30px;
}

#searchBar {
    background-color: #e2e9f1;
    border: none;
    border-radius: 50px;
    /* width:90%; */
    flex: 1;
    height: 50%;
}

.pfp {
    width: 40px
}

.pfpLarge {
    width: 60px;
}

.noti {
    width: 25px;
}

.logo {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-template-rows: min-content;
    align-items: center;
    gap: .5rem;
    margin: 1rem 0px 0px 1rem;

}

.sidebar {
    background-color: #1c94d3;
    color: white;
    /* font-size: 1.5rem; */
    font-weight: 500;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
    padding-right: 2rem;
}

.sidebar li {
    margin-top: 1rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-image {
    width: 3rem;
    height: auto;
}

.logoText {
    font-weight: 500;
    font-size: 1.5rem;
}

.mainContent {
    background-color: #e2e9f1;
    grid-column: 2 / 3;
    grid-row: 3 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.mainHeaderRow {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: #e2e9f1;
}

.cardHeader {
    width: 100%;
    align-self: center;
    font-weight: bold;
    padding: 15px 20px;
}

.cards {
    background-color: white;
    /* min-width: 70%; */
    /* min-height: 80%; */
    border-radius: 10px;
    box-shadow: 1px 2px 4px 0px grey;
    border-left: 8px solid #1c94d3;
    padding: 30px;
    /* justify-self: stretch; */
    display: grid;
    grid-template-rows: min-content;
    overflow: hidden;
}

.rightBar {
    background-color: #e2e9f1;
    grid-column: 3 / 4;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 2fr .25fr 4fr;
    grid-auto-rows: auto;
    align-items: baseline;

    padding: 0px 20px 20px 20px;
}

.rightBarRow {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    background-color: #e2e9f1;
}

.rightHeader {
    width: 70%;
    align-self: center;
    font-weight: bold;
    padding: 15px 0px;
    grid-row: 1 / 2;
}

.trendHeader {
    width: 70%;
    align-self: flex-end;
    font-weight: bold;
    grid-row: 3 / 4;
    margin: 10px 0px;
}

.announceContainer,
.trendingContainer {
    background-color: white;
    display: grid;
    border-radius: 10px;
    font-size: .75rem;
    font-weight: 300;
    padding: 1rem;
    box-shadow: 1px 2px 4px 0px grey;

}

.announceContainer {
    grid-row: 2 / 3;
}

.trendingContainer {
    grid-row: 4/5;
    max-height: 100%;
    overflow: hidden;;
}

.rBarHeading {
    font-weight: bold;
}

.anmt {
    padding: 10px 0px;
    border-bottom: 2px solid #e2e9f1;
}

.anmt:last-child {
    border: none;
}

.trend {
    padding: 10px 0px;
    /* border-bottom: 2px solid #e2e9f1; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.trend>img {
    width: 40px
}

.trend:last-child {
    border: none;
}

.cardContent {
    font-weight: 300;
}

.cardHeading {
    font-weight: bold;
}

#home::before {
    background-image: url(assets/icons/home-account.svg);
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

#profile::before {
    background-image: url(assets/icons/account-box.svg);
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

#messages::before {
    background-image: url(assets/icons/message.svg);
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

#history::before {
    background-image: url(assets/icons/history.svg);
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

#tasks::before {
    background-image: url(assets/icons/format-list-checkbox.svg);
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

#communities::before {
    background-image: url(assets/icons/account-group.svg);
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

#settings::before {
    background-image: url(assets/icons/cog.svg);
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

#support::before {
    background-image: url(assets/icons/face-agent.svg);
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

.icons {
    margin-left: auto;
    align-self: flex-end;
}

.icons>img {
    width: 30px;
    margin-left: 20px;
}

#privacy::before {
    background-image: url(assets/icons/lock.svg);
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}